<ion-view title="Nearby">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-refresh-outline" ng-click="getPositionAndLoadContent()"></button>
  </ion-nav-buttons>

  <!-- Use overflow-scroll="true" on `ion-content` to disable Ionic's Scroll  -->
  <ion-content class="has-header ion-content-nearby" overflow-scroll="true">
    <div class="list" ng-if="!loading">
      <div
        ng-repeat="item in loadedItems">
        <div class="card ic-card">
          <div class="item item-image embed-container ratio-1-1">
            <img ng-src="{{ item.images.standard_resolution.url }}">
          </div>

          <i class="ion-loading-c embed-container-loading"></i>

          <a class="item item-icon-left dark ic-distance" href="#">
            <i class="icon ion-ios7-location-outline"></i>

            <distance
              from-longitude="{{ coords.longitude }}"
              from-latitude="{{ coords.latitude }}"
              to-latitude="{{ item.location.latitude }}"
              to-longitude="{{ item.location.longitude }}"></distance>
          </a>
          <card-info class="ic-card-info padding">
            @{{ item.user.username }}:<br>
            {{ item.caption.text }}
          </card-info>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-pane ng-if="loading" class="login-button-wrapper">
    <i class="ion-loading-c"></i>
  </ion-pane>
</ion-view>
