/* Empty. Add your own CSS if you like */

/*
    Instagram Login button
*/
.login-button {
    background: url("../img/instagram-button.png") center center no-repeat;
    display: block;
    height: 38px;
    text-indent: -9999px;
    width: 100%;
}

.login-button-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-button-wrapper .ion-loading-c {
  font-size: 5em;
}

/*
  Card
*/
.ic-distance {
  margin-top: -54px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 20px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-icon-left .icon {
  left: auto;
  position: relative;
  font-size: 1.7em;
}

.ic-card {
  background-color: #E5E5E5;
  position: relative;
}

.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    background: none;
}

.embed-container-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
}

.ratio-1-1 {
    padding-bottom:100%; /* ... */
}
